<head>
<title>swetha-ecommerce</title>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
</head>
<body>
<nav class="header">
  <mat-toolbar class="bar">
    <button
      mat-icon-button
      class="menu-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon> <a href="#" > menu </a></mat-icon>
    </button>

    <div class="box"><span class="text">LEGEND SARAVANA</span></div>
    <span class="sample"></span>
      <button class="product-link" routerLink="/product" routerLinkActive="active" >
        PRODUCT
        </button>
    <button 
      mat-icon-button
      class="favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon >favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="share-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</nav>
<router-outlet></router-outlet>
<h1 style="text-align:center;text-decoration:underline"> Welcome to my e-commerce store, Please click on the products tab on the top right to view the available products</h1>
</body>