
<h1 style="text-align:center;text-decoration:underline">
Your one stop for all needs
</h1>
<br />
<div class="content">
<mat-grid-list cols="3" rowheight="500px">
  <mat-grid-tile *ngFor="let product of products" class="cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title >{{ product.title }}</mat-card-title>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      </mat-card-header>
      <img class="card-img" mat-card-img src="{{ product.images[0] }}">
      <!-- <img class="card-img" mat-card-img src="{{ product.images[1] }}" /> -->
      <mat-card-content>
        <p>{{ product.description }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <input (click)="getprod($event, product)" class="btn" mat-button routerLink="/prod" value = "buy">
        <input type = "button" class = "btn" value = "Like">
        <!-- <button  mat-button>BUY</button> -->
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
